Crypto
anyio
attr
babel
backcall
brotli 
certifi  
cffi
chardet
charset_normalizer 
colorama  

dateutil  
debugpy  
decorator   
django  
entrypoints 
google   
idna  
jedi 
jinja2
json5  
jsonschema
markupsafe 
mpl_toolkits
nbclassic  
nbformat  
nt 
ntsecuritycon 
packaging  
parso
pickleshare
pkg_resources
prometheus_client
prompt_toolkit
pvectorc
pycparser
pydev_ipython
pydevconsole
pydevd
pydevd_concurrency_analyser
pydevd_file_utils
pydevd_plugins
pydevd_tracing
pyexpat
pygments
pyrsistent
pythoncom
pywintypes
requests
send2trash
six
sniffio
socks
sphinxcontrib
storemagic
tornado
traitlets
urllib3
wcwidth
win32api
win32com
win32con
win32security
win32trace
winerror
zmq
zope          
