Crypto
anyio
attr
babel
backcall
brotli 
certifi  
cffi
chardet
charset_normalizer 
colorama  
entrypoints 
google   
idna  
jedi 
jinja2
json5  
jsonschema
markupsafe 
nbclassic  
nbformat  
packaging  
parso
pickleshare
prometheus_client
prompt_toolkit
pycparser
requests
send2trash
six
sniffio
socks
sphinxcontrib
storemagic
tornado
traitlets
urllib3
wcwidth
win32api
win32com
win32con
win32security
win32trace
winerror
zmq
zope          
